.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 60px;

    &-section {
        margin: 80px 70px 0 0;

        &-title {
            &-star {
                > img {
                    width: 76px;
                }
            }

            &-talk {
                &-banner {
                    font-size: 24px;
                    font-weight: normal;
                }

                > span {
                    font-size: 52px;
                    font-weight: bold;
                }
            }

            &-search {
                display: flex;
                margin-top: 55px;
                position: relative;

                &-select {
                    position: absolute;
                    left: 3px;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    select{
                      border: none;
                      height: 90%;
                      border-radius: 28px;
                      text-align: center;
                      width: 120px;
                      cursor: pointer;
                      color: #2583DA;
                      font-size: 20px;
                      font-weight: 600;
                    }
                }

                .search-input {
                    width: 657px;
                    height: 65px;
                    border-radius: 46px;
                    border: 2px solid #569fe1;
                    background: #fff;
                    padding: 0 80px 0 140px;

                    &:focus {
                        outline-color: #569fe1;
                    }
                }

                svg {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 20px;
                    top: 13px;
                    color: #569fe1;
                }
            }
        }

        &-categoryList {
            display: flex;
            margin: 25px 0;

            .category {
                display: flex;
                align-items: center;
                padding: 8px 15px;
                margin: 0 5px 0 0;
                height: 35px;
                border-radius: 60px;
                color: #c5c5c5;
                border: 1px solid #c5c5c5;
                background: #fff;
                cursor: pointer;
            }

            .focus {
                display: flex;
                align-items: center;
                padding: 8px 15px;
                margin: 0 5px 0 0;
                height: 35px;
                border-radius: 60px;
                color: #569fe1;
                border: 1px solid #569fe1;
                background: #fff;
                cursor: pointer;
            }
        }
    }

    &-image {
        margin: 45px 0 0 0;

        > img {
            width: 723px;
        }
    }
}


.input-wrapper {
    input {
        border: none;
    }
}