.my{
  &-page{
    display: flex;
    &-menu{
      background: rgba(225, 241, 255, 0.4);
      height: 100vh;
      width: 350px;
      &-info{
        padding: 45px 40px;
        &-myPage{
          margin: 0 0 40px 0;
          span{
          font-size: 32px;
          font-weight: 700;
          }
        }
        &-manage{
          span{
            font-size: 24px;
            font-weight: 700;
          }
          ul{
            margin: 25px 0 0 0;
             li{
               margin: 0 0 15px 0;
               list-style: none;
               font-size: 18px;
            }
          }
        }
        &-line{
          height: 1px;
          background-color: #C5C4CB;
          margin: 30px 0;
        }
      }
    }
    &-section{
      width: 100%;
      margin: 0 60px;
      &-info{
        margin-bottom: 10px;
        &-card{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 25px;
          border-radius: 16px;
          border: 1px solid rgba(86, 159, 225, 0.4);
          background: #FFF;
          &-flex{
            margin: 15px;
            &-flex{
              display: flex;
              align-items: center;
              margin-bottom: 15px;
            &-title{
              cursor: pointer;
              span{
              color: #161724;
              font-size: 26px;
              font-weight: 700;
              }
            }
            &-none{
                margin: 0 15px;
                span{
                  font-size: 18px;
                  color: red;
                }
              }
            }
            &-sub{
              span{
                color: #9C9C9C;
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
          .angleRight{
            cursor: pointer;
            width: 25px;
            height: 25px;
            color: #9c9c9c;
          }
          &-content{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            &-title{
              width: 545px;
              span{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-size: 18px;
                font-weight: 600;
              }
            }
            &-dead{
              margin-right: 30px;
              span{
                font-size: 20px;
                color: #9c9c9c;
              }
            }
            .deadLine{
              margin-right: 30px;
              span{
                font-size: 20px;
                color: #F36969;
              }
            }
          }
        }
      }
      &-career{
        margin: 80px 0 0 0;
        &-flex{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          cursor: pointer;
        &-more{
          cursor: pointer;
          span{
            color: #569FE1;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
          }
        }
        }
      }
    }
  }
  &-job{
    width: 960px;

    &-enter{
      margin-bottom: 80px;
      &-title{
        cursor: pointer;
        span{
          color: #9c9c9c;
          font-size: 26px;
          font-weight: 700;
        }
      }
      &-chart{
        height: 121px;
        border-radius: 10px;
        border: 1px solid #569FE1;
      }
    }
    &-calender{
        display: flex;
        justify-content: space-between;
        width: 960px;
        &-schedule{
            &-wrap{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 20px;
                padding: 0 0 0 5px;

                .option{
                    display: flex;
                    span{
                        font-size: 20px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                    &-add{
                        margin: 0 20px 0 0;
                        span{
                            color: #569FE1;
                        }
                    }
                    &-edit{
                        span{

                        }
                    }
                }

            }
            &-enter{
                display: flex;
                align-items: center;
                padding: 20px 30px;
                width: 493px;
                height: 80px;
                flex-shrink: 0;
                border-radius: 10px;
                background-color: white;
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
    }
  }
  &-notice{
    width: 960px;
    padding-top: 60px;
    &-info{
      &-modal{
        display: grid;
        height: 81px;
        border-radius: 16px;
        border: 1px solid rgba(86, 159, 225, 0.4);
        padding:  0 30px;
        margin-bottom: 10px;
        transition: height 0.3s ease;
        &-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 81px;
          &-title{
            display: flex;
            justify-content: space-between;
            width: 95%;
            padding: 0 10px;
            &-width{
              width: 700px;
              span{
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: #161724;
                font-size: 18px;
                font-weight: 600;
              }
            }
            &-edit{
              span{
                cursor: pointer;
                color: #9C9C9C;
                font-size: 18px;
              }
            }
          }
          &-angle{
            .angleDown{
              cursor: pointer;
              width: 25px;
              height: 25px;
              color: #9c9c9c;
            }
          }
        }
      }
      &-modalOn{
        border-radius: 16px;
        border: 1px solid rgba(86, 159, 225, 0.4);
        padding: 0 30px;
        margin-bottom: 10px;
        &-content{
          margin-bottom: 5px;
          &-line{
            height: 1px;
            width: 900px;
            background: #ECECEC;
          }
          &-web{
            padding: 25px 10px;
            span{
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }
    &-put{
      width: 960px;
      height: 218px;
      padding:  30px;
      border-radius: 16px;
      border: 1px solid rgba(86, 159, 225, 0.4);
      background: #E1F1FF;
      &-info{
        &-title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          .icon{
              cursor: pointer;
            width: 25px;
            height: 25px;
            color: #9c9c9c;
          }
          &-input{
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
      }
      .input-title{
        background: none;
        border: none;
        width: 90%;
        height: 100%;
        padding: 0 10px;
      }
      &-line{
        background: #C5C5C5;
        height: 1px;
      }
      &-content{
        padding: 25px 0 0 0px;
        width: 100%;
      }
    }
  }
}
